{% extends "base.html" %}

{% block body %}

<nav class="navbar navbar-light bg-transparent">
    <a href="/" class="btn btn-primary" role="button">
        <span class="fa fa-home"></span>
        Home
    </a>
</nav>

<div class="align-items-center d-flex h-100">
    <div class="flex-column text-center w-100">
        <h1 class="display-4">
            <strong>API</strong>
        </h1>
        <div class="text-primary">
            <h2>$ curl {{ url }}</h2>
        </div>
    </div>
</div>

<p></p>

{% endblock %}
