{% extends "base.html" %}

{% block body %}

<nav class="justify-content-end navbar navbar-light bg-transparent">
    <a href="/api" class="btn btn-primary" role="button">API</a>
</nav>

<div class="align-items-center d-flex h-100">
    <div class="flex-column text-center w-100">
        <h1 class="display-4">
            <strong>Your IP address is</strong>
        </h1>
        <div class="text-primary">
            <h2>{{ ip }}</h2>
        </div>
    </div>
</div>

<p></p>

{% endblock %}
